.toolbar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        align-content: space-between;
        img {
            margin: 0 16px;
        }

        span {
            align-content: space-around;
        }

        .spacer {
            width: 83%;
        }

        #twitter-logo {
            height: 40px;
            margin: 0 8px;
        }
        #youtube-logo {
            height: 40px;
            margin: 0 16px;
        }

        #twitter-logo:hover,
        #youtube-logo:hover {
            opacity: 0.8;
            float: right;
        }
    }
}

.content {
    position: relative;
    display: flex;
    margin: 82px auto auto auto;
    // padding: 0 16px;
    // max-width: 960px;
    flex-direction: column;
    align-items: center;
}
