<div *ngIf="game">
    <button class="button" (click)="back()">Back</button>
    <h1>
        {{game.name}}
    </h1>
    <div>
        <p>Platform: {{game.platform}}</p>
        <p>Genre: {{game.genre}}</p>
    </div>
    <div>
        <ul *ngFor="let link of links">
            <li>
                <div>
                    <h3>{{ link.id }}</h3>
                    <p *ngIf="link.tags">{{link.tags}}</p>
                    {{ link.rating }}
                </div>
                
            </li>
            
        </ul>

    </div>
</div>